<div id=<%= dom_id(message) %>>
  <%= message.body %>
  <% unless message.deleted %>
    sent by
    <%= message.sender.username unless message.sender.nil? unless message.deleted %>
  <% end %>
</div>