<div data-controller="submit-on-input">
  <%= form_with(url: users_path, method: :get, data: {turbo_frame: 'users'}) do |form| %>
    <%= form.label :query %>
    <%= form.text_field :query, data: { action: "change->submit-on-input#submitForm"} %>
  <% end %>
</div>